{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{ course.name }}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'fontawesome-free-5.15.1-web/css/all.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'app.css' %}">
	</head>
	<body>
		<a href="{% url 'manager_index' %}">
			<i class="fas fa-home" style="color: yellow; font-size: 40px; padding-top: 20px; padding-left: 30px"></i>
		</a>
		<a href="{% url 'manager_by_student' course_id=course.ID %}">
			<i class="fas fa-arrow-left" style="color: yellow; font-size: 40px; padding-top: 20px; padding-left: 20px"></i>
		</a>
		<div class="container mt-5">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8" style="font-size: 20px">
					<div class="pricing-card p-3 text-center py-5 mt-2">
						<form method="POST" enctype="multipart/form-data">
							{% csrf_token %}
							<table style="width: 100%">
								<tr><td style="text-align: right">
									شماره دانشجویی:
								</td><td style="text-align: left">
									<input id="std_id" name="std_id" type="number" required maxlength="15" max="22899999999999" min="101000000000">
								</td></tr>
								<tr><td style="text-align: right">
									نام:
								</td><td style="text-align: left">
									<input id="f_name" name="f_name" type="text">
								</td></tr>
								<tr><td style="text-align: right">
									نام خانوادگی:
								</td><td style="text-align: left">
									<input id="l_name" name="l_name" type="text">
								</td></tr>
							</table>
							{% for message in messages %}
								<div class="alert alert-success">
									<a class="close" href="#" data-dismiss="alert">×</a>
									{{ message }}
								</div>
							{% endfor %}
							<br>
							<input type="submit" class="btn btn-secondary" name="upload" value="اضافه کردن دانشجو">
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>

{% block javascripts %}
	<script src="{% static 'jquery.min.js' %}"></script>
	<script src="{% static 'bootstrap.min.js' %}"></script>
{% endblock javascripts %}