{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{ course.name }}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'fontawesome-free-5.15.1-web/css/all.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'app.css' %}">
	</head>
	<body>
		<div class="container mt-5">
			<div class="row" style="margin-bottom: 100px">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<div class="pricing-card p-3 text-center py-5 mt-2" >
						<form method="POST" enctype="multipart/form-data">
							{% csrf_token %}
							<table style="width: 100%; font-size: 20px">
								<tr><td style="text-align: right">
									شماره دانشجویی:
								</td><td style="text-align: left">
									<input id="std_id" name="std_id" type="number" required maxlength="15" max="39922899999999999" min="10000000">
								</td></tr>
								{{ form.management_form }}
								{% for field in form %}
									<tr><td style="text-align: right">
										{{ field.label_tag }}
									</td><td  style="text-align: left">
										{{ field }}
									</td></tr>
								{% endfor %}
							</table>
							<br>
							<input type="submit" class="btn btn-secondary" name="upload" value="بارگذاری فایل" style="font-size: 20px">
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>

{% block javascripts %}
	<script src="{% static 'jquery.min.js' %}"></script>
	<script src="{% static 'bootstrap.min.js' %}"></script>
{% endblock javascripts %}