{% load static %}
{% load tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>نظرسنجی</title>
		<link rel="stylesheet" type="text/css" href="{% static 'fontawesome-free-5.15.1-web/css/all.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'app.css' %}">
	</head>
	<body>
		<a href="{% url 'manager_index' %}">
			<i class="fas fa-home" style="color: yellow; font-size: 40px; padding-top: 20px; padding-left: 30px"></i>
		</a>
		<div class="container mt-5">
			<div class="row" style="margin-bottom: 100px">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div class="pricing-card p-4 text-center py-3">
						<table border="1" style="width: 100%">
							<tr>
								<td> تعداد آراء</td>
								<td>تعداد گزینه ها</td>
								<td>متن نظرسنجی</td>
								<td>نام درس</td>
							</tr>
							{% for poll in polls %}
								<tr>
									<td> {{ votes|keyvalue:poll }} </td>
									<td> {{ count|keyvalue:poll }} </td>
									<td>
										<a href="{{ poll.id }}"> {{ poll.text }} </a>
									</td>
									<td>{{ poll.course.name }}</td>
									</td>
								</tr>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
		</div>
		{% if host != '127.0.0.1:8000' %}
			<div style="position: fixed; right: 0; bottom: 0; text-align: right;">
				<a href="{% url 'manager_add_poll' %}">
					<i class="fas fa-plus-square" style="color: yellow; font-size: 50px; padding-right: 50px; padding-bottom: 30px"></i>
				</a>
			</div>
		{% endif %}
	</body>
</html>

{% block javascripts %}
	<script src="{% static 'jquery.min.js' %}"></script>
	<script src="{% static 'bootstrap.min.js' %}"></script>
{% endblock javascripts %}