{% load static %}
{% load tz %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{ course.name }} - {{ CA.name }}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'fontawesome-free-5.15.1-web/css/all.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'app.css' %}">
	</head>
	<body>
		<a href="{% url 'manager_index' %}">
			<i class="fas fa-home" style="color: yellow; font-size: 40px; padding-top: 20px; padding-left: 30px"></i>
		</a>
		<a href="{% url 'manager_by_assignment' course_id=course.ID %}">
			<i class="fas fa-arrow-left" style="color: yellow; font-size: 40px; padding-top: 20px; padding-left: 20px"></i>
		</a>
		<div class="container mt-5">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div class="pricing-card p-4 text-center py-3">
						<table border="0" style="width: 100%">
							<tr>
								<td>
									{% if host != '127.0.0.1:8000' %}
										<a href="score/assignment/"><input type="submit" value="تغییر بارم" style="background-color: #20c997"></a>
									{% endif %}
									{% if CA.score %}
									بارم تمرین: {{ CA.score }} نمره
									{% else %}
										بارم برای این تمرین وارد نشده
									{% endif %}
								</td>
								<td>
									{% if host != '127.0.0.1:8000' %}
										<a href="extend/"><input type="submit" value="تمدید تمرین" style="background-color: #20c997"></a>
									{% endif %}
									از زمان تمرین {{ days }} روز {{ hour }} ساعت {{ minutes }}  دقیقه باقی مانده است
								</td>
							</tr>
						</table>
						<br>
						{% timezone 'Asia/Tehran' %}
							<table border="1" style="width: 100%">
								{% for assignment in assignments %}
										<td><a href="score/{{ assignment.id }}">
											<input type="submit" value="ثبت نمره جدید" style="background-color: #c69500">
										</a></td>
										{% if assignment.is_cheated %}
											<td width="5%" style="color: #fd7e14">
												!تقلب
												{% if assignment.cheat_numbers %}
													({{ assignment.cheat_numbers }})
												{% endif %}
											</td>
										{% else %}
											<td width="5%"></td>
										{% endif %}
										<td width="10%">
											{% if assignment.score != None %}
												{{ assignment.score }}
											{% else %}
												?
											{% endif %}
										</td>
										<td width="10%">
											<a href="download/{{ assignment.id }}/pdf/" target="_blank">
												<button class="btn-icon" style="border: 0px">
													<i class="fas fa-file-pdf" style="color: #bd2130; font-size: 25px"></i>
												</button>
											</a>
										</td>
										<td>{{ assignment.uploadDate}}</td>
										<td>{{ assignment.group }}</td>
										<td>
											{% if assignment.last_upload %}
												<i class="fas fa-check-circle" style="color: green"></i>
											{% endif %}
										</td>
									</tr>
								{% endfor %}
							</table>
						{% endtimezone %}
					</div>
				</div>
			</div>
		</div>
		<div style="position: fixed; right: 0; bottom: 0; text-align: right;">
			<a href="{% url 'assignment_all_scores' course_id=course.ID ca_id=CA.id %}">
				<i class="fas fa-file-excel" style="color: yellow; font-size: 40px; padding-bottom: 20px"></i>
			</a>
			<i class="fas fa-notting" style="color: yellow; font-size: 40px; padding-right: 30px; padding-bottom: 30px"></i>
			<a href="{% url 'delete_assignment' course_id=course.ID ca_id=CA.id %}" onclick="return confirm('آیا مطمئن هستید که این تمرین و تمام فایل های آپلود شده برای این تمرین پاک شود؟')">
				<i class="fas fa-trash-alt" style="color: yellow; font-size: 40px; padding-right: 30px; padding-bottom: 20px"></i>
			</a>
		</div>
	</body>
</html>

{% block javascripts %}
	<script src="{% static 'jquery.min.js' %}"></script>
	<script src="{% static 'bootstrap.min.js' %}"></script>
{% endblock javascripts %}