.pricing-card {
    flex-direction: column;
    min-width: 0;
    color: #000;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #fff;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
    -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
    box-shadow: 0px 0px 5px 0px rgb(161, 163, 164)
}

.moving {
    position: relative;
    animation-name: example;
    animation-duration: 2s;
    animation-fill-mode: both;
}

@keyframes example {
  from {top: -150px;}
  to {top: 0px;}
}

.clickable-card:hover{
    background-color: #dfdfff;
    transform: scale(1.07);
}

.clickable-card:hover .card-content{
    opacity: 1;
    transform: scale(1.15);
}

.card-content {
    opacity: 0.85;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #314666 !important;
    border-color: #314666 !important
}

.btn-secondary:focus{
    background-color: #20c997 !important;
    border-color: #20c997 !important
}

body {
    font-family: sans-serif;
    background: #64748B
}

/* Style buttons */
.btn-icon {
  background-color: white; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn-icon:hover {
  background-color: #f8d7da;
}
